@font-face {
    src: url("assets/fonts/HelveticaNeue-Bold.ttf");
    font-family: "HelveticaNeue Bold";
}

@font-face {
    src: url("assets/fonts/HelveticaNeue-Light.ttf");
    font-family: "HelveticaNeue Light";
}

@font-face {
    src: url("assets/fonts/HelveticaNeue-Medium.ttf");
    font-family: "HelveticaNeue Medium";
}
